.entry-list {
	margin: 20px auto;
	max-width: 720px;
	list-style-type: none;
	padding: 0;
}

.entry-list-item {
	border: 1px solid;
	border-color: var(--color-secondary-dark);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.entry-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.entry-date {
	margin-bottom: 10px;
}
