body {
	background-color: var(--color-primary);
	color: hsl(0, 0%, var(--primary-switch));
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0px;
}

.root-body {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.core-header > h1 {
	margin-top: 0px;
}

.description {
	margin: 20px auto;
	max-width: 700px;
	color: var(--core-fg);
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.btn.primary:hover {
	background-color: var(--color-primary-light);
	color: hsl(0, 0%, var(--primary-light-switch));
}

.btn.secondary:hover {
	background-color: var(--color-secondary-light);
	color: hsl(0, 0%, var(--secondary-light-switch));
}

.btn.accent:hover {
	background-color: var(--color-accent-light);
	color: hsl(0, 0%, var(--accent-light-switch));
}

.btn.highlight:hover {
	background-color: var(--color-highlight-light);
	color: hsl(0, 0%, var(--highlight-light-switch));
}